[Unit]
Description = prometheus server Service

[Service]
User=bin
WorkingDirectory=/opt/prometheus-2.55.0-rc.0.linux-amd64
ExecStart=/opt/prometheus-2.55.0-rc.0.linux-amd64/prometheus
SyslogIdentifier=prometheus

[Install]
WantedBy=multi-user.target